################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/interview-dev-general/FileContentIndex
/.vs
